.container{
  line-height:3em;
  color:green;
}
p {
  font-size: 30px;
  font-weight: bold;
  color: blue;
}
ul li{
  line-height: 3em;
  font-weight: bolder;
  color:red;
  font-size: 20px;
}
.form-group{
  font-weight: 9000;
  font-size: xx-large;
  color:yellow;
}
h1{
  font-size: 50px;
  font-style: italic;
  text-align: center;
} 
h2{
  font-size: 50px;
  font-style: italic;
  text-align: center;
}
body{
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer .footer-content .contact span{
  display: block;
  font-size: 20px;
  line-height: 5em;
  text-align: center;
  color:red;
}
.footer .footer-content .location{
  color: red;
  text-align:center;
  padding-top: 20px;
  font-size: 30px;
}
button{
  background-color:yellow;
  box-sizing: content-box;
  
}