.container{
  line-height:3em;
}
p {
  font-size: large;
  font-weight: bold;
  line-height: 2em;
}
ul li{
  line-height: 3em;
}
h1{
  background-color: gray;
  font-style: italic;
} 
.test-box{
  border-left: 4px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 4px solid black;
  padding: 100px;
  margin:20px;
  float: right;
  background-image: url(https://cdn.pixabay.com/photo/2017/03/09/23/39/ghana-2131205__340.jpg);
}
.footer .footer-content .contact span{
  display: block;
  font-size: 20px;
  line-height: 5em;
  text-align: center;
}
.footer .footer-content .location{
  color: black;
  text-align:center;
  padding-top: 20px;
  font-size: 30px;
}